@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url("https://fonts.googleapis.com/css?family=Karla");



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --fond: white; 
  --dark : #3b3a39;
  --principale : #FFAE7A;
  --secondaire : #FFDF85; 
  --gradient : linear-gradient(100deg, var(--principale) 0%, var(--secondaire) 120%);
  --titre : "Nunito Sans", sans-serif;
  --texte : "Karla", sans-serif;
}



#page {
  overflow-y: scroll;
  overflow-x: hidden;
  top: calc(5vh);
  width: 100vw;
  height: 90vh;
}


body {
  color: var(--dark);
  font-family: var(--texte);
  background-color : var(--fond);
  font-size:1em;
  max-height: 100vh;
  overflow : hidden; 
}

#bas_ecran{
  width: 100%;
  height: calc(400px + (2250 - 400)*(100vw - 350px)/(2000 - 350));
  background-image: url("../../img/accueil_test.svg") ;
  background-repeat:no-repeat;
  background-position: bottom;
  background-size: cover;

}

html {
  line-height: 1.20;
  padding: 0;
}

#content{
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: calc(80px + (100 - 80)*(100vw - 350px)/(2000 - 350));
  margin-top: 3em;
}

#header_page{
  display:flex;
  flex-direction: row;
  justify-content:left;
  height: calc(70px + (120 - 70)*(100vw - 350px)/(2000 - 350));
  margin-top: 2em;
  margin-bottom: 20px;
  margin-left: 2em;

}


.sous-titre{
  display: flex;
  flex-direction: row;
  align-items:center;
  margin-bottom: 10px;
}

.sous-titre-orange{
  display: flex;
  flex-direction: row;
  align-items:center;
  margin-bottom: 10px;
  color : var(--principale);
}

h1{ /* Titre des pages */
  font-size: calc(26px + (40 - 26)*(100vw - 350px)/(2000 - 350));
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  margin-left: 1em;
  color:rgb(27, 25, 25);
  margin-top: 2%;
}

#special_h1{ /* Titre des pages */
  font-size: calc(22px + (40 - 22)*(100vw - 350px)/(2000 - 350));
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  margin-left:0;
  color:rgb(27, 25, 25);
  margin-top: 2%;
}


h2{ /* Sous-titre des pages */
  font-size: calc(18px + (35 - 18)*(100vw - 350px)/(2000 - 350));	
  font-family: var(--titre);
  font-weight: lighter;
  margin-left : calc(5px + (20 - 5)*(100vw - 350px)/(2000 - 350));
  margin-top : 1em;
  margin-bottom : 1em;
  margin-right: 0.5em;
  color: var(--dark);
  text-align: justify;
  text-transform: uppercase;
}

h3{  /* Titre des chapitres dans "Apprendre" */
  font-size:calc(14px + (20 - 14)*(100vw - 350px)/(2000 - 350));
  font-family: var(--titre);
  font-weight: lighter;
  text-align: center;
  color :var(--principale);
  font-weight: bold;
  text-align: left;
  margin-left:30px;
  text-transform: uppercase;
}

h4{
  font-size: calc(18px + (35 - 18)*(100vw - 350px)/(2000 - 350));	
  font-family: var(--titre);
  font-weight: lighter;
  margin-left : calc(5px + (20 - 5)*(100vw - 350px)/(2000 - 350));
  text-align: justify;
  text-transform: uppercase;
  color:white;  
  background-color: var(--principale); 
  border-radius: 3px;
  text-align: center;
  margin:1em;
  
}

h5{
  width: 90%;
  height: calc(25px + (50 - 25)*(100vw - 350px)/(2000 - 350));
  background-color: white;
  font-size: calc(18px + (35 - 18)*(100vw - 350px)/(2000 - 350));	
  font-family: var(--titre);
  font-weight: bold;
  text-align: justify;
  text-transform: uppercase;
  color : var(--principale);  
  border-radius: 3px;
  text-align: center;
  margin:1em;
}

h6{ /* Titre des tempéraments dans les boites */
  font-family: var(--titre);
  font-size:calc(12px + (27 - 12)*(100vw - 350px)/(2000 - 350));	
  text-align: center;
  color : rgb(255, 255, 255);
  letter-spacing: .1rem;
  margin-left:calc(0px + (12 - 0)*(100vw - 350px)/(2000 - 350));
  margin-top:-5px;
}


.h7{
  width: 90%;
  height: calc(25px + (50 - 25)*(100vw - 350px)/(2000 - 350));
  font-size: calc(18px + (35 - 18)*(100vw - 350px)/(2000 - 350));	
  font-family: var(--titre);
  font-weight: bold;
  text-align: justify;
  text-transform: uppercase;
  color : white;
  border-radius: 3px;
  text-align: center;
  margin:1em;
}

p{
  font-family: var(--texte);
  color:black  ;
  margin: 5px;
  text-align:justify;
}

.p2{
  font-family: var(--texte);
  color:rgb(206, 146, 42)  ;
  margin-bottom: 5px;
}

.p4{
  font-family: var(--texte);
  color:var(--dark)  ;
  margin: 1em;
  text-align:justify;
}

.p5{
  font-family: var(--texte);
  color:white  ;
  margin: 1em;
  text-align:justify;
  font-weight: bold;
}


#icone_marque_page{
  width: calc(18px + (28 - 18)*(100vw - 350px)/(2000 - 350)); 
  height: calc(18px + (28 - 18)*(100vw - 350px)/(2000 - 350));
}

a {
  text-decoration: none;
  font-size:calc(14px + (20 - 14)*(100vw - 350px)/(2000 - 350));
  font-family: var(--titre);
  font-weight: lighter;
  text-align: center;
  color :var(--dark);
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
}

strong{
  color: var(--principale);
  
}


/* ///////////////////// PARTIE MARQUE PAGE ///////////////////// */
.conteneur_marquepage{
  display: flex;
  flex-wrap: wrap; /*va à la ligne*/
  justify-content: space-around; /*espacer les boites*/
  
}

.marquepage1{
  width: calc(145px + (320 - 145)*(100vw - 350px)/(2000 - 350));
  height: calc(42px + (70 - 42)*(100vw - 350px)/(2000 - 350));
  margin-bottom: calc(18px + (30 - 18)*(100vw - 350px)/(2000 - 350));
  margin-left: calc(6px + (100 - 6)*(100vw - 350px)/(2000 - 350));
  margin-right: calc(6px + (100 - 6)*(100vw - 350px)/(2000 - 350));
  border-radius: 8px;
  background: var(--gradient);
}

.mp--jamais{
  padding-top:20px;
}

.temperament_marque_page{
  margin-top: -20px;
  margin-left: calc(120px + (285 - 120)*(100vw - 350px)/(2000 - 350));
  margin-top:-5px;
  width: calc(18px + (28 - 18)*(100vw - 350px)/(2000 - 350)); 
  height: calc(18px + (28 - 18)*(100vw - 350px)/(2000 - 350));
  opacity:0;
    
}

.mp--active{
  opacity:1;

}





#partie_marquepage{
  margin-left: 1em;
  margin-right: 1em;
}


/* ///////////////////// FIN PARTIE MARQUE PAGE ///////////////////// */




/* ///////////////////// BOUTON ACCORD ///////////////////// */

.conteneur_bouton_accord{
  display :flex;
  justify-content: center;
  align-items: center;
  padding-top: calc(50px + (90 - 50)*(100vw - 350px)/(2000 - 350));
  padding-bottom: calc(30px + (90 - 30)*(100vw - 350px)/(2000 - 350));
}


#cercle_bouton_accordeur {
  display: flex;
  width: calc(140px + (200 - 100)*(100vw - 350px)/(2000 - 350));
  height: calc(140px + (200 - 100)*(100vw - 350px)/(2000 - 350));
  border-radius: 200px;
  background-color: white;
  justify-content: center;
  box-shadow: 0 0 8px #757370;
  cursor: pointer;
}

#cercle_bouton_accordeur:hover {
  background-color: rgb(212, 203, 191);
}


#logo_accordeur{
  width: calc(110px + (230 - 110)*(100vw - 350px)/(2000 - 350));;;
  height: auto;
  margin-top:-40px;
  margin-bottom:-15px; 

}
.conteneur_image_texte{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#texte_bouton{
  font-size:calc(15px + (20 - 15)*(100vw - 350px)/(2000 - 350));
  font-weight: bold;
  text-align: center;
}


#barre-menu{
  display: flex;
	justify-content: center;
  align-items: center;
  background-color: white;
  position: fixed; 
  bottom: 0;
  width: 100%;
  
}

/* ////////////////// FIN BOUTON ACCORD ///////////////////////// */






/* ////////////////// BARRE NAV BOTTOM ///////////////////////// */
.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
  box-shadow: 0 0 8px #757370;
  background-color: #ffffff;
  display: flex;
  overflow-x: auto;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 13px;
  color: #444444;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
  opacity: 0.40;
}

.nav__link:hover {
  background-color: #eeeeee;
  opacity: 1;
}

.nav__link--active {
  opacity: 1;
}

.nav__text {
  font-size: 10px;
  margin: 0;
}


.icone_menu{
  width:40px; 
  height:40px;
}

#icone_menu_except{
  width:45px; 
  height:45px;
}

#titre_TemperApp{
  width: calc(220px + (350 - 220)*(100vw - 350px)/(2000 - 350));
  height: auto;
  margin-left: -0.5em;
}


#return_icone{
  width: calc(22px + (28 - 22)*(100vw - 350px)/(2000 - 350)); 
  height: calc(22px + (28 - 22)*(100vw - 350px)/(2000 - 350));
  margin:10px;
  cursor: pointer;
}

/* ////////////////// FIN BARRE NAV BOTTOM ///////////////////////// */




#partie_recherche{
  margin-left: calc(30px + (500 - 30)*(100vw - 350px)/(2000 - 350));
  margin-right: calc(30px + (500 - 30)*(100vw - 350px)/(2000 - 350));
  margin-top: 10px;
  margin-bottom: 40px;
}

.barre_de_recherche{
  display:flex; 
  height: calc(40px + (55 - 40)*(100vw - 350px)/(2000 - 350));
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 0 8px #757370;
  border-radius: 8px;
}


.searchTerm{
  border: none;
  width: 100%;
  height: 85%;
  margin-left: 15px; 
  font-size: calc(11px + (15 - 11)*(100vw - 350px)/(2000 - 350));
  color: #757370;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;

}

.searchTerm:focus{
  color: rgb(0, 0, 0);
}

.searchTerm:focus::placeholder {
  color: transparent;
}

.searchButton{
  background-color: white;
  border :none;
  margin-right: 15px;
}


/* ////////////////// FICHE INDIVIDUELLE ///////////////////////// */



/*#cercle_complet{
  width: calc(600px + (800 - 600)*(100vw - 350px)/(2000 - 350));
  height: calc(600px + (800 - 600)*(100vw - 350px)/(2000 - 350));
  margin-left:15%;
}

#partie-description{
  margin : 25px; 
}


#cartel{
  margin-bottom:30px;
}

p{
  font-family: "Nunito", sans-serif;
  color:rgb(206, 146, 42)  ;
  margin: 5px;
}



#theoricien, #epoque, #texte-descriptif{
  font-family: "Nunito", sans-serif;
  color:rgb(0, 0, 0)  ;
  text-align: justify;
}*/

#partie_cercle_comma{
  height: 100%;
  width: 500px;
  padding-left: 110px ;
  
}

#partie-description{
  margin : 25px; 
}


#cartel{
  margin-top:10px; 
  margin-bottom:30px;
}

p{
  font-family: "Nunito", sans-serif;
  color:rgb(206, 146, 42)  ;
  margin: 5px;
}



#theoricien, #epoque, #texte-descriptif{
  font-family: var(--texte);
  color:rgb(0, 0, 0)  ;
  text-align: justify;
}

.schema {
  display: flex;
  height: 55vw;
  margin: auto;
}

.table_commas {
  margin: auto;
  font-size: 16px
}

#tableau_commas {
  display: flex;
  margin: auto;
  margin-left: 30vw;
  margin-top: 1em;
}

tbody td {

}

th, td, tr {
  padding-right: 18%;
  font-family:var(--text);
}

tbody, thead {
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

tbody tr:nth-child(even) {
  background-color: #e6e3e3;
}

caption {
  text-align: center;
}





/* ////////////////// APPRENDRE.PHP ///////////////////////// */



#conteneur_tous_chapitres{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  
}

.conteneur_chapitre{
  display:flex; 
  flex-direction: row;
  align-items: center;
  width: 300px;
  height: 100px;
  margin: 18px; 
}

.logo_chapitre{
  height: 90%; 
}

.logo_chapitre_entete{
  height: 80px; 
  margin-left: 35%;
  margin-bottom: 20px;

  
}
#special_logo{
  margin-left: 30%;
  
}


#test-formule{
  font-size: 14px;
}






.sous_chapitre{
  margin : 25px; 
}



#more_icone {
  position: fixed;
  right: -2%;
  top: 1%;
}

#display_more {
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 0 8px #757370;
  z-index: 2;
  position: absolute;
  display : none;
  overflow-y: scroll;
  top: calc(5vh);
  left: calc(3vw);
  width: 93vw;
  height: 81vh;
}

.icone_app {
  width:40px; 
  height:40px;
}


#infos{
  width: 11%;
  height: 5%;
  color : rgb(0, 0, 0);
  padding: 10px 0;
  position: absolute;
  right: 5%;
}

#icone_infos {
  position: absolute;
  right: calc(5vw);
  top: calc(1vw);
}

#display_infos {
  background: var(--gradient);
  border-radius: 7px;
  box-shadow: 0 0 8px #757370;
  z-index: 2;
  position: absolute;
  display: none;
  overflow-y: scroll;
  top: 10vh;
  left: 3vw;
  right: 3vw;
  width: 93vw;
  height: 79vh;
}



#illustration_gradient{
  width:100%; 
}

#separateur{
  border-radius: 7px;
  background: var(--gradient);
  width: 12em;
  height: 0.3em;
}

#separateur2{
  margin-top: -20px;
  margin-left: 1.5em;
  border-radius: 7px;
  background: var(--gradient);
  width: 12em;
  height: 0.3em;
}