@import url("https://fonts.googleapis.com/css?family=Nunito");

body {
  background-color: var(--backgroundColor) ;
  height: 100vh;
  width: 100vw;
  max-height: 100vh !important;
  max-width: 100vw !important;
  margin: 0px !important;
  overflow: hidden;
}

/* ------------- selection temperament ------------- */

#option_selection {
  margin-left: 5vw;
  margin-right: 1vw;
  margin-top: -4vh;
  display: flex;
  flex-direction: column;
  width: 95vw;
  height: 7vh;
  cursor: pointer;
  font-size:calc(16px + (25 - 12)*(100vw - 350px)/(2000 - 350));
  color : rgb(0, 0, 0);
  padding: 2vh 0;
}

select {
  font: 400 16px Nunito;
  border: 2px solid #FFA669;
  font-weight: lighter;
  border-radius: 7px;
}

#temperament2-select {
  border: 2px solid black;
}

/* ------------- div roues ------------- */

:root{
  --backgroundColor : #FFF;

  --wheelGlobalWidth : 80vw;
  --wheelTierce1Width : var(--wheelGlobalWidth);
  --wheelTierceWidth : calc(var(--wheelGlobalWidth)*0.87);
  --wheelHeight : calc(var(--wheelGlobalWidth)*0.75);
  --wheelQuinteWidth : calc(var(--wheelGlobalWidth)*0.6);
  --wheelQuinte1Width : calc(var(--wheelGlobalWidth)*0.35);
  --wheelCenterWidth : calc(var(--wheelGlobalWidth)*0.25);


  --accordeurColor : rgb(240, 240, 240);

  --tierce1 : #ffc77d;
  --tierce2 : #ffc77d;
  --tierce3 : #ffc77d;
  --tierce4 : #ffc77d;
  --tierce5 : #ffc77d;
  --tierce6 : #ffc77d;
  --tierce7 : #ffc77d;
  --tierce8 : #ffc77d;
  --tierce9 : #ffc77d;
  --tierce10 : #ffc77d;
  --tierce11 : #ffc77d;
  --tierce12 : #ffc77d;

  --tierce_1 : #ffc77d;
  --tierce_2 : #ffc77d;
  --tierce_3 : #ffc77d;
  --tierce_4 : #ffc77d;
  --tierce_5 : #ffc77d;
  --tierce_6 : #ffc77d;
  --tierce_7 : #ffc77d;
  --tierce_8 : #ffc77d;
  --tierce_9 : #ffc77d;
  --tierce_10 : #ffc77d;
  --tierce_11 : #ffc77d;
  --tierce_12 : #ffc77d;

  --quinte1 : #ffc77d;
  --quinte2 : #ffc77d;
  --quinte3 : #ffc77d;
  --quinte4 : #ffc77d;
  --quinte5 : #ffc77d;
  --quinte6 : #ffc77d;
  --quinte7 : #ffc77d;
  --quinte8 : #ffc77d;
  --quinte9 : #ffc77d;
  --quinte10 : #ffc77d;
  --quinte11 : #ffc77d;
  --quinte12 : #ffc77d;

  --quinte_1 : #ffc77d;
  --quinte_2 : #ffc77d;
  --quinte_3 : #ffc77d;
  --quinte_4 : #ffc77d;
  --quinte_5 : #ffc77d;
  --quinte_6 : #ffc77d;
  --quinte_7 : #ffc77d;
  --quinte_8 : #ffc77d;
  --quinte_9 : #ffc77d;
  --quinte_10 : #ffc77d;
  --quinte_11 : #ffc77d;
  --quinte_12 : #ffc77d;

}



#wheelDiv > svg { width: 100%; height: 100%;}
#wheelDiv {
  margin-left: 1em;
  margin-right: 1em;
  height: var(--wheelHeight);
  width: var(--wheelHeight);
  position: absolute;
  margin-left: 0px;
  top: calc(50vh - 100vw/2);
  overflow: hidden;
  z-index: 1;
  /*margin-top: calc( var(--wheelHeight) * -1/3 );*/
}


@media (max-width: 400px) { #wheelDiv { height: 100vw; width : 100vw;} }

[class|=wheelnav-wheelDiv-slice-basic] { fill: var(--accordeurColor); stroke: none; }
[class|=wheelnav-wheelDiv-slice-selected] { fill: #000; stroke: none; }
[class|=wheelnav-wheelDiv-slice-hover] { fill: var(--accordeurColor);  stroke: none; fill-opacity:1; cursor: pointer; }

[class|=wheelnav-wheelDiv-title-basic] { fill: #fff; stroke: none; }
[class|=wheelnav-wheelDiv-title-selected] { fill: var(--accordeurColor); stroke: none; }
[class|=wheelnav-wheelDiv-title-hover] { fill: #fff; stroke: none; cursor: pointer; }
[class|=wheelnav-wheelDiv-title] > tspan { font-family: sans-serif; font-size:2rem; }


#roue_comparaison{
  width: var(--wheelGlobalWidth);
  height: var(--wheelGlobalWidth);
  position: relative;
  margin: auto;
  margin-top: 8vh;
  margin-bottom: 5vh;
}

#wheelTierce1{
  margin: auto;
  width: var(--wheelTierce1Width);
  height: var(--wheelTierce1Width);
  border-radius: var(--wheelGlobalWidth);
  background: conic-gradient(
    var(--tierce_1) 0 calc(100/12*1%),
    var(--tierce_2) 0 calc(100/12*2%),
    var(--tierce_3) 0 calc(100/12*3%),
    var(--tierce_4) 0 calc(100/12*4%),
    var(--tierce_5) 0 calc(100/12*5%),
    var(--tierce_6) 0 calc(100/12*6%),
    var(--tierce_7) 0 calc(100/12*7%),
    var(--tierce_8) 0 calc(100/12*8%),
    var(--tierce_9) 0 calc(100/12*9%),
    var(--tierce_10) 0 calc(100/12*10%),
    var(--tierce_11) 0 calc(100/12*11%),
    var(--tierce_12) 0
  );
  z-index: -4;
  position: absolute;
  transform: rotate(-15deg);
  overflow: hidden;
  border: 3px solid black;
}

#wheelTierce{
  width: var(--wheelTierceWidth);
  height: var(--wheelTierceWidth);
  border-radius: var(--wheelGlobalWidth);
  background: conic-gradient(
    var(--tierce1) 0 calc(100/12*1%),
    var(--tierce2) 0 calc(100/12*2%),
    var(--tierce3) 0 calc(100/12*3%),
    var(--tierce4) 0 calc(100/12*4%),
    var(--tierce5) 0 calc(100/12*5%),
    var(--tierce6) 0 calc(100/12*6%),
    var(--tierce7) 0 calc(100/12*7%),
    var(--tierce8) 0 calc(100/12*8%),
    var(--tierce9) 0 calc(100/12*9%),
    var(--tierce10) 0 calc(100/12*10%),
    var(--tierce11) 0 calc(100/12*11%),
    var(--tierce12) 0
  );
  z-index: -3;
  position: absolute;
  transform: rotate(-15deg);
  overflow: hidden;
  top: calc(var(--wheelGlobalWidth)*0.5 - var(--wheelTierceWidth)*0.5);
  left : calc(var(--wheelGlobalWidth)*0.5 - var(--wheelTierceWidth)*0.5);
  border: 3px solid black;
}

#roue_notes{
  margin: auto;
  width: var(--wheelHeight);
  height: var(--wheelHeight);
  position: absolute;
  margin-top: calc(var(--wheelGlobalWidth)*0.5 - var(--wheelHeight)*0.5);
  margin-left : calc(var(--wheelGlobalWidth)*0.5 - var(--wheelHeight)*0.5);
}

#wheelQuinte{
  margin: auto;
  width: var(--wheelQuinteWidth);
  height: var(--wheelQuinteWidth);
  border-radius: var(--wheelGlobalWidth);
  background: conic-gradient(
    var(--quinte1) 0 calc(100/12*1%),
    var(--quinte2) 0 calc(100/12*2%),
    var(--quinte3) 0 calc(100/12*3%),
    var(--quinte4) 0 calc(100/12*4%),
    var(--quinte5) 0 calc(100/12*5%),
    var(--quinte6) 0 calc(100/12*6%),
    var(--quinte7) 0 calc(100/12*7%),
    var(--quinte8) 0 calc(100/12*8%),
    var(--quinte9) 0 calc(100/12*9%),
    var(--quinte10) 0 calc(100/12*10%),
    var(--quinte11) 0 calc(100/12*11%),
    var(--quinte12) 0);
  z-index: -2;
  position: absolute;
  transform: rotate(-15deg);
  top: calc(var(--wheelGlobalWidth)*0.5 - var(--wheelQuinteWidth)*0.5);
  left : calc(var(--wheelGlobalWidth)*0.5 - var(--wheelQuinteWidth)*0.5);
}

#wheelQuinte1{
  margin: auto;
  width: var(--wheelQuinte1Width);
  height: var(--wheelQuinte1Width);
  border-radius: var(--wheelGlobalWidth);
  background: conic-gradient(
    var(--quinte_1) 0 calc(100/12*1%),
    var(--quinte_2) 0 calc(100/12*2%),
    var(--quinte_3) 0 calc(100/12*3%),
    var(--quinte_4) 0 calc(100/12*4%),
    var(--quinte_5) 0 calc(100/12*5%),
    var(--quinte_6) 0 calc(100/12*6%),
    var(--quinte_7) 0 calc(100/12*7%),
    var(--quinte_8) 0 calc(100/12*8%),
    var(--quinte_9) 0 calc(100/12*9%),
    var(--quinte_10) 0 calc(100/12*10%),
    var(--quinte_11) 0 calc(100/12*11%),
    var(--quinte_12) 0);
  z-index: -1;
  position: absolute;
  transform: rotate(-15deg);
  top: calc(var(--wheelGlobalWidth)*0.5 - var(--wheelQuinte1Width)*0.5);
  left : calc(var(--wheelGlobalWidth)*0.5 - var(--wheelQuinte1Width)*0.5);
  border: 3px solid black;
}

#middle_wheel {
  margin: auto;
  width: var(--wheelCenterWidth);
  height: var(--wheelCenterWidth);
  border-radius: var(--wheelGlobalWidth);
  background: white;
  z-index: 1;
  position: absolute;
  margin-top: calc(var(--wheelGlobalWidth)*0.5 - var(--wheelCenterWidth)*0.5);
  margin-left : calc(var(--wheelGlobalWidth)*0.5 - var(--wheelCenterWidth)*0.5);
  border: 3px solid black;
}

#selected_note_content{
  margin: auto;
  font-size: 2rem;
}

#selected_note{
  margin: auto;
  width: calc(var(--wheelHeight) / 3);
  height: calc(var(--wheelWidth) / 3);
  background-color: var(--accordeurColor);
  color: #fff;
  border-radius: var(--wheelHeight);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(50vh - calc(var(--wheelHeight) / 3 / 2));
  left : calc(50vw - calc(var(--wheelHeight) / 3 / 2));
  z-index: 1;
}

#note_selection{
  display: flex;
  flex-direction: column;
  height: var(--wheelHeight);
  fill: white;
}

/* ------------- table commas ------------- */

#comparaison_commas {
  position: relative;
  margin-bottom: 5%;
  width: 50vw;
}

