

:root{
  --wheelGlobalWidth : 70vw;
  --wheelTierceWidth : var(--wheelGlobalWidth);
  --wheelCommaWidth : calc(var(--wheelGlobalWidth)*0.97);
  --wheelQuinteWidth : calc(var(--wheelGlobalWidth)*0.80);
  --wheelCenterWidth : calc(var(--wheelGlobalWidth)*0.55);

  --backgroundColor : #FFF;

  --accordeurColor : #1F1E1E;

  --tierce1 : #FFF;
  --tierce2 : #FFF;
  --tierce3 : #FFF;
  --tierce4 : #FFF;
  --tierce5 : #FFF;
  --tierce6 : #FFF;
  --tierce7 : #FFF;
  --tierce8 : #FFF;
  --tierce9 : #FFF;
  --tierce10 : #FFF;
  --tierce11 : #FFF;
  --tierce12 : #FFF;

  --quinte1 : #FFF;
  --quinte2 : #FFF;
  --quinte3 : #FFF;
  --quinte4 : #FFF;
  --quinte5 : #FFF;
  --quinte6 : #FFF;
  --quinte7 : #FFF;
  --quinte8 : #FFF;
  --quinte9 : #FFF;
  --quinte10 : #FFF;
  --quinte11 : #FFF;
  --quinte12 : #FFF;

}

#cercle_complet{
  width: var(--wheelGlobalWidth);
  height: var(--wheelGlobalWidth);
  position: relative;
  display: flex;
  margin: auto;
}


#cercle_note_comma{
  width: var(--wheelCommaWidth);
  height: var(--wheelCommaWidth);
  position:absolute;
  margin-top: calc(var(--wheelGlobalWidth)*0.5 - var(--wheelCommaWidth)*0.5);
  margin-left : calc(var(--wheelGlobalWidth)*0.5 - var(--wheelCommaWidth)*0.5);

}


#wheelTierce2{
  width: var(--wheelTierceWidth);
  height: var(--wheelTierceWidth);
  border-radius: var(--wheelGlobalWidth);
  background: conic-gradient(
    var(--tierce1) 0 calc(100/12*1%),
    var(--tierce2) 0 calc(100/12*2%),
    var(--tierce3) 0 calc(100/12*3%),
    var(--tierce4) 0 calc(100/12*4%),
    var(--tierce5) 0 calc(100/12*5%),
    var(--tierce6) 0 calc(100/12*6%),
    var(--tierce7) 0 calc(100/12*7%),
    var(--tierce8) 0 calc(100/12*8%),
    var(--tierce9) 0 calc(100/12*9%),
    var(--tierce10) 0 calc(100/12*10%),
    var(--tierce11) 0 calc(100/12*11%),
    var(--tierce12) 0
    /*var(--tierce1)*/
    );
  z-index: -2;
  position: absolute;
  transform: rotate(-15deg);
  overflow: hidden;


  /*top: calc(var(--wheelHeight)* -1.251);*/
}

#wheelQuinte2{
  width: var(--wheelQuinteWidth);
  height: var(--wheelQuinteWidth);
  border-radius: var(--wheelGlobalWidth);
  background: conic-gradient(
    var(--quinte1) 0 calc(100/12*1%),
    var(--quinte2) 0 calc(100/12*2%),
    var(--quinte3) 0 calc(100/12*3%),
    var(--quinte4) 0 calc(100/12*4%),
    var(--quinte5) 0 calc(100/12*5%),
    var(--quinte6) 0 calc(100/12*6%),
    var(--quinte7) 0 calc(100/12*7%),
    var(--quinte8) 0 calc(100/12*8%),
    var(--quinte9) 0 calc(100/12*9%),
    var(--quinte10) 0 calc(100/12*10%),
    var(--quinte11) 0 calc(100/12*11%),
    var(--quinte12) 0);
  z-index: -2;
  position: absolute;
  transform: rotate(-15deg);
  margin-top: calc(var(--wheelGlobalWidth)*0.5 - var(--wheelQuinteWidth)*0.5);
  margin-left : calc(var(--wheelGlobalWidth)*0.5 - var(--wheelQuinteWidth)*0.5);

  /*top: calc(var(--wheelHeight)* -1.39 );*/
}

#wheelCache2{
  width: var(--wheelCenterWidth);
  height: var(--wheelCenterWidth);
  border-radius: var(--wheelGlobalWidth);
  background: rgb(255, 255, 255);
  z-index: -2;
  position: absolute;
  transform: rotate(-15deg);
  margin-top: calc(var(--wheelGlobalWidth)*0.5 - var(--wheelCenterWidth)*0.5);
  margin-left : calc(var(--wheelGlobalWidth)*0.5 - var(--wheelCenterWidth)*0.5);

  /*top: calc(var(--wheelHeight)* -1.39 );*/
}
