@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url("https://fonts.googleapis.com/css?family=Karla");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{
  --wheelHeight : 100vw;
  --wheelWidth : 100vw;;
  --backgroundColor : #FFF;
  --accordeurColor : #ffffff;

  --tierce1 : #FFF;
  --tierce2 : #FFF;
  --tierce3 : #FFF;
  --tierce4 : #FFF;
  --tierce5 : #FFF;
  --tierce6 : #FFF;
  --tierce7 : #FFF;
  --tierce8 : #FFF;
  --tierce9 : #FFF;
  --tierce10 : #FFF;
  --tierce11 : #FFF;
  --tierce12 : #FFF;

  --quinte1 : #FFF;
  --quinte2 : #FFF;
  --quinte3 : #FFF;
  --quinte4 : #FFF;
  --quinte5 : #FFF;
  --quinte6 : #FFF;
  --quinte7 : #FFF;
  --quinte8 : #FFF;
  --quinte9 : #FFF;
  --quinte10 : #FFF;
  --quinte11 : #FFF;
  --quinte12 : #FFF;

  --fond: white; 
  --dark : #3b3a39;
  --principale : #FFAE7A;
  --secondaire : #FFDF85; 
  --gradient : linear-gradient(100deg, var(--principale) 0%, var(--secondaire) 120%);
  --titre : "Nunito Sans", sans-serif;
  --texte : "Karla", sans-serif;

}

body {
	color: rgb(46, 45, 45);
  font-family: "Nunito", sans-serif;
  font-size:1em;
  overflow : hidden;
  background-color: var(--backgroundColor) ;
  height: 100vh;
  width: 100vw;
  max-height: 100vh !important;
  max-width: 100vw !important;
  margin: 0px !important;
  overflow: hidden;
}

#wheelDiv > svg { width: 100%; height: 100%;}
#wheelDiv {
  margin-left: 1em;
  margin-right: 1em;
  height: var(--wheelHeight);
  width: var(--wheelHeight);
  position: absolute;
  margin-left: 0px;
  top: calc(50vh - 100vw/2);
  overflow: hidden;
  z-index: 1;
}


@media (max-width: 450px) { #wheelDiv { height: 100vw; width : 100vw;} }

[class|=wheelnav-wheelDiv-slice-basic] { fill: var(--accordeurColor); stroke: none; }
[class|=wheelnav-wheelDiv-slice-selected] { fill: #fff; stroke: none; }
[class|=wheelnav-wheelDiv-slice-hover] { fill: var(--accordeurColor);  stroke: none; fill-opacity:1; cursor: pointer; }

[class|=wheelnav-wheelDiv-title-basic] { fill: #fff; stroke: none; }
[class|=wheelnav-wheelDiv-title-selected] { fill: var(--accordeurColor); stroke: none; }
[class|=wheelnav-wheelDiv-title-hover] { fill: #fff; stroke: none; cursor: pointer; }
[class|=wheelnav-wheelDiv-title] > tspan { font-family: sans-serif; font-size:2rem; }

#selected_note{
  margin: auto;
  width: calc(var(--wheelHeight) / 3);
  height: calc(var(--wheelWidth) / 3);
  background-color: var(--accordeurColor);
  color: #fff;
  border-radius: var(--wheelHeight);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(50vh - calc(var(--wheelHeight) / 3 / 2));
  left : calc(50vw - calc(var(--wheelHeight) / 3 / 2));
  z-index: 1;
}

#selected_note_content{
  margin: auto;
  font-size: 2rem;
  font-family: var(--text);
  color: black;
  font-weight: 700;
}

#note_selection{
  display: flex;
  flex-direction: column;
  height: var(--wheelHeight);
}

#selected_note_frequency{
  margin: auto;
  margin-top: calc(var(--wheelHeight) / -12);
  font-family: var(--text);
  color: black;
}

#wheelTierce{
  margin: auto;
  width: calc(var(--wheelHeight) * 0.85);
  height: calc(var(--wheelHeight) * 0.85);
  border-radius: var(--wheelHeight);
  background: conic-gradient(
    var(--tierce1) 0 calc(100/12*1%),
    var(--tierce2) 0 calc(100/12*2%),
    var(--tierce3) 0 calc(100/12*3%),
    var(--tierce4) 0 calc(100/12*4%),
    var(--tierce5) 0 calc(100/12*5%),
    var(--tierce6) 0 calc(100/12*6%),
    var(--tierce7) 0 calc(100/12*7%),
    var(--tierce8) 0 calc(100/12*8%),
    var(--tierce9) 0 calc(100/12*9%),
    var(--tierce10) 0 calc(100/12*10%),
    var(--tierce11) 0 calc(100/12*11%),
    var(--tierce12) 0
    /*var(--tierce1)*/
    );
  z-index: -2;
  position: absolute;
  transform: rotate(-15deg);
  top: calc(50vh - calc(var(--wheelHeight) * 0.85 / 2));
  left : calc(50vw - calc(var(--wheelHeight) * 0.85 / 2));;
  overflow: hidden;

  /*top: calc(var(--wheelHeight)* -1.251);*/
}

#wheelQuinte{
  margin: auto;
  width: calc(var(--wheelHeight) * 0.44);
  height: calc(var(--wheelHeight) * 0.44);
  border-radius: var(--wheelHeight);
  background: conic-gradient(
    var(--quinte1) 0 calc(100/12*1%),
    var(--quinte2) 0 calc(100/12*2%),
    var(--quinte3) 0 calc(100/12*3%),
    var(--quinte4) 0 calc(100/12*4%),
    var(--quinte5) 0 calc(100/12*5%),
    var(--quinte6) 0 calc(100/12*6%),
    var(--quinte7) 0 calc(100/12*7%),
    var(--quinte8) 0 calc(100/12*8%),
    var(--quinte9) 0 calc(100/12*9%),
    var(--quinte10) 0 calc(100/12*10%),
    var(--quinte11) 0 calc(100/12*11%),
    var(--quinte12) 0);
  z-index: -2;
  position: absolute;
  transform: rotate(-15deg);
  top: calc(50vh - calc(var(--wheelHeight) * 0.44 / 2));
  left : calc(50vw - calc(var(--wheelHeight) * 0.44 / 2));
  /*top: calc(var(--wheelHeight)* -1.39 );*/
}

#gamme_selection{
  display: flex;
  flex-direction: row;
  margin: 1em;
}

.gamme-option {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  cursor: pointer;
  font-size:calc(18px + (25 - 18)*(100vw - 350px)/(2000 - 350));
  color : var(--dark);
  align-items: center;
}

select {
  border: 3px solid var(--principale);
  border-radius: 7px;
  height: 4vh;
  width: calc(180px + (200 - 180)*(100vw - 350px)/(2000 - 350));
  margin:0.3em;
  font: 400 16px Nunito Sans;
  z-index: 1;
}

label {
  margin: 0.5em;
  z-index: 1;
}

}
#temperament-select{
  color:var(--dark);
  font-family: var(--titre);
  font-weight: 600;
  text-align: center;
}

input{
  border: 3px solid var(--principale);
  border-radius: 7px;
  height: 4vh;
  width: calc(80px + (130 - 80)*(100vw - 350px)/(2000 - 350));
  margin:0.3em;
  font: 400 16px Nunito Sans;
  z-index: 1;

}
#frequence_la {
  color:var(--dark);
  font-family: var(--titre);
  font-weight: 600;
  text-align: center;
}

#buttons_container {
  position: absolute;
  bottom: 14vh;
}

#onoff-container {
  margin-left: 7vw;
  margin-right: 1em;
  position: absolute;
  width: 40px;
  height: 40px;
}

#mode-container {
  margin-left: 83vw;
  margin-right: 1em;
  width: 40px;
  height: 40px;
}

.arrow_procedure{
  margin-left: 1em;
  margin-right: 1em;
  position: absolute;
  bottom: 20vh;
  width: 15vw;
  height: 15vw;
  border-radius: 75px;
  background : linear-gradient(90deg, rgba(248,190,93,1) 0%, rgba(255,176,118,1) 100%);
  font-size:calc(12px + (25 - 12)*(100vw - 350px)/(2000 - 350));
  text-align: center;

  flex-direction: column;
}

.arrow_procedure p{
  margin: auto;
  color : white;
  font-size: 8vw;
}

#battement_procedure_next{
  position: absolute;
  right: 20vw;
  display: none;
}

#battement_procedure_step{
  position: absolute;
  left: 37vw;
  width: 20vw;
  height: 20vw;
  display: none;
  flex-direction: column;
}

#battement_step{
  margin: auto;
  margin-top: 5px;
  color: white;
  font-size: 5vw;
}

#battement_procedure_previous{
  position: absolute;
  left: 20vw;
  display: none;
}

#gestion_notes{
  width: 70vw;
  height: 70vw;
  position: absolute;
  top: calc(50vh - 35vw);
  left : calc(50vw - 35vw);
}

.note_detection{
 fill: rgb(255, 255, 255);
}

.note_detection_octave{
 fill: rgb(250, 250, 250);
}
/*
.note_detection:hover{
  fill: rgb(36, 36, 36);
  color: red;
  user-select: none;
}
*/

.octave_cache{
  display: none;
}

@keyframes clignotement {
  from {fill: orange;}
  to {fill: rgb(255, 255, 255);}
}

.current_note_battement{
  fill: orange ;
  animation-name: clignotement;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.current_note{
  fill: #efefef!important;
}

#gestion_notes_octave{
  position: absolute;
  top: calc(50vh - 46vw);
  left : calc(50vw - 46vw);
}

#battement_type_procedure{

  margin: auto;
  margin-top: -3vh;
  color : white;
  font-size: 4vw;
}
